@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./fonts/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/Gilroy-Light.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/gilroy-Regular.woff2') format('woff2'),
    url('./fonts/Gilroy-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/gilroy-Medium.woff2') format('woff2'),
    url('./fonts/Gilroy-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/gilroy-Semibold.woff2') format('woff2'),
    url('./fonts/Gilroy-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/gilroy-Bold.woff2') format('woff2'),
    url('./fonts/Gilroy-Bold.woff') format('woff');
}

body {
    font-family: 'Gilroy', serif;
    color: #242424;
    background-color:#F6F6F6;
}

a {
    text-decoration: none;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1146px;
}

                                        /* header */

.foxy-dog {
    position: absolute;
    width: 62.65%;
    top: 0;
    right: 0;
    z-index: -2;
 }

.graffiti {
    position: absolute;
    left: -110px;
    top: 374px;
    z-index: -1;
 }

.nav {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 97px 76px 0;
    padding: 39px 0 0;
}

.nav a {
    color: #242424;
}

.nav a:hover {
    font-weight: 700;
    color: #000000;
}

.nav a:active {
    font-weight: 700;
    color: #6B6B6B;
}

.nav__block {
    display: flex;
    justify-content: space-between;
    width: 635px;
}

.nav-block__left {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.nav-block__left li{
    margin-right: 32px;
}

.nav-block__right {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.nav-block__right li{
    margin-left: 31px;
}

.nav__icons {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 126px;
}

.nav__icons svg:hover {
    fill: #FFD458;
}

.nav__icons svg:active {
    fill: #FFBC00;
}

                                        /* main */

.introduction h1:nth-child(1) {
    font-size: 72px;
    font-weight: 700;
    margin: 0;
}

.introduction p:nth-child(2) {
    font-size: 16px;
    font-weight: 300;
    width: 659px;
    margin:0 0 12px;
}

.introduction p:nth-child(3) {
font-size: 16px;
font-weight: 600;
width: 659px;
margin: 0 0 43px;
}

.introduction p:nth-child(4) {
font-size: 24px;
font-weight: 600;
color: #C78100;
width: 37.35%;
margin: 0 0 44px;
}

.introduction a {
    display: inline-block;
    padding: 10px 33px 10px;
    background-color: #FBC832;
    color: #000000;
    font-size: 20px;
    border-radius: 58px;
    margin-bottom: 272px;
}

.introduction a:hover {
    background-color: #FFDF86;
    box-shadow: 0 2px 4px 0 rgba(204,204,204,1);
}

.introduction a:active {
    background-color: #FFBB0C;
    box-shadow: none;
}



.little-time {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.little-time::before {
    content: '';
    width: 49vw;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 50%;
    background-color: #ffffff;
    z-index: -3;
}

.little-time::after {
    content: '';
    width: 49vw;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50%;
    background-color: #ffffff;
    z-index: -3;
}

.little-time__img {
    position: relative;
    margin: 54px 94px 75px 0px;
    z-index: 1;
    height: 521px; /*  */
}

.img__black-dog img{
    display: block;
    border-radius: 50%;
}

.img__black-dog {
    border-radius: 50%;
    border: 29px solid #FFC41E;
}

.img__gray-cat img {
    display: block;
    border-radius: 50%;
}

.img__gray-cat {
    position: absolute;
    border-radius: 50%;
    border: 8px solid #EEBF3A;
    top: auto;
    right:-5%;
    bottom: -5%;
    left:auto;
}

.img__black-dog:before {
    content: '';
    width: 50vw;
    position: absolute;
    right: 50%;
    top: 0;
    bottom: 0;
    background-color: #FFC41E;
    z-index: -1;
    
}


.little-time__head{
    width: 50%;
   /* border: 2px solid black; */
}

.head__heading {
    font-weight: 600;
    font-size: 28px;
    color: #C78100;
    max-width: 466px;
    text-align: center;
    padding-top: 128px;
}

.head__text {
    font-weight: 400;
    font-size: 16px;
    max-width: 466px;
}



.how-help h2 {
    text-align: center;
    font-weight: 300;
    font-size: 28px;
    margin: 0;
    padding: 47px;
}

.how-help__flex {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.how-help__container {
    position: relative;
    height: 240px;
    width: 166px;
}

.how-help-container__img {
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 146px;
    height: 146px;
    border-radius: 50%;
    border: 2px solid #FFC41E;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 24px;
}

.container-img__link {
    position: absolute;
    display: block;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.how-help-container__img:hover {
    background-color: #FFFFFF;
}

.how-help-container__img:active {
    background-color: #F8ECCB;
}

.how-help__container p {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 1.4;
}

                                        /* list-pets */

.list-pets__1 {
    display: block;
    position: relative;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    width: 306px;
    height: 144px;
    background-color: #F6F6F6;
}

.list-pets__1 img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 140px;
    width: auto;
}

.list-pets__1::before {
    content: '';
    width: 49vw;
    height: 1px;
    position: absolute;
    right: 50%;
    left: auto;
    top: 70px;
    bottom: 0;
    background-color: #FFC41E;
    z-index: -1;
}

.list-pets__1::after {
    content: '';
    width: 49vw;
    height: 1px;
    position: absolute;
    right: auto;
    left: 50%;
    top: 70px;
    bottom: 0;
    background-color: #FFC41E;
    z-index: -1;
}

.list-pets__text {
    display: flex;
    justify-content: space-between;
    max-width: 875px;
    margin: 0 auto;
    margin-bottom: 72px;
    padding-left: 123px;
}

.list-pets-text__flex {
    width: 389px;
}

.list-pets-text__flex h2 {
    font-weight: 600;
    font-size: 28px;
    color: #242424;
}

.list-pets-text__flex p {
    font-weight: 400;
    font-size: 16px;
    color: #242424;
}



.list-pets > h2 {
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    margin-bottom: 32px;
}

.list-pets__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-pets-container__margin {
    margin-bottom: 44px;
}

.list-pets-container__card {
    width: 368px;
    height: 695px;
    border-radius: 5px;
    border: 1px solid #D6D6D6;
    background-color: #FFFFFF;
}

.container-card__wrapper {
    margin: 16px 16px 20px;
    text-align: center;
}

.container-card__name {
    font-weight: 500;
    font-size: 22px;
    margin: 0px 0 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EBEBEB;
}

.container-card__gender-age {
    font-weight: 500;
    font-size: 14px;
    color: #6B6B6B;
    text-align: left;
    margin: 0 0 6px;
}

.container-card__description {
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    width: 334px;
    height: 95px;
    margin: 0 0 35px;
}

.container-card__take-home {
    font-weight: 500;
    font-size: 20px;
    background-color: #FBC832;
    width: 209px;
    height: 42px;
    border: 0;
    border-radius: 58px;
    margin: 0 0 17px;
}

.container-card__take-home:hover {
    background-color: #FFDF86;
    box-shadow: 0 2px 4px 0 rgba(204,204,204,1);
}

.container-card__take-home:active {
    background-color: #FFBB0C;
    box-shadow: none;
}

.container-card__little-take-home {
    font-weight: 500;
    font-size: 20px;
    background-color: #FFFFFF;
    width: 296px;
    height: 42px;
    border: 2px solid #FFC41E;
    border-radius: 58px;
}

.container-card__little-take-home:hover {
    background-color: #FFFFFF;
    border: 3px solid #FFBC00;
    box-shadow: 0 2px 4px 0 rgba(204,204,204,1);
}

.container-card__little-take-home:active {
    background-color: rgba(255,196,30,0.2);
    border: 3px solid #FFBC00;
    box-shadow: none;
}

.list-pets__all-pets {
    width: 204px;
    height: 40px;
    margin: 20px auto 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    padding-right: 40px;
    text-decoration: underline;
}

.list-pets__all-pets a {
    color: #AD7F00;
}

.list-pets__all-pets::after {
 content: '';
 position: absolute;
 background-image: url(./icons/arrow.svg);
 width: 10px;
 height: 18px;
 margin-top: 11px;
 margin-left: 16px;
}

.list-pets__all-pets a:hover {
    color: #523C00;
}

.list-pets__all-pets a:active {
    color: #F6B400;
}

.list-pets__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 751px;
    margin: 65px auto 76px;
}

.list-pets__bottom p {
    width: 583px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

.bottom-social__instagram {
    padding-left: 32px;
}

.list-pets-bottom__social svg:hover {
    fill: #FFFFFF;
    filter: drop-shadow(0px 2px 4px rgba(204,204,204.1));
}

.list-pets-bottom__social svg:active {
    fill: #F8ECCB;
    filter: none;
}

                                        /* money */

.money {
    position: relative;
    padding: 30px 0 56px;
}

.money::before {
    content: '';
    position: absolute;
    width: 49vw;
    right: 50%;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: -2;
}

.money::after {
    content: '';
    position: absolute;
    width: 49vw;
    left: 50%;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: -2;
}

.money__2 {
    position: relative;
    width: 306px;
    height: 126px;
    margin: 0 auto 40px;
    background-color: #FFFFFF;
}

.money__2 img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.money__2::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 49vw;
    right: 50%;
    top:64px;
    bottom: 0;
    background-color: #EEBF3A;
    z-index: -1;
}

.money__2::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 49vw;
    left: 50%;
    top:64px;
    bottom: 0;
    background-color: #EEBF3A;
    z-index: -1;
}

.money__container {
    width: 875px;
  /*  height: 429px; */
  /*  border: 1px solid black; */
    margin: 0 auto;
}

.money-container__text h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    margin: 0 97px 24px 20px;
}

.money-container__text > p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27.5px;
    text-align: center;
    margin: 0 97px 40px 20px;
}

.money-container__flex {
    display: flex;
    justify-content: space-between;
}

.container-flex__left p {
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    margin: 0 0 24px;
}

.container-flex__left ul {
    font-weight: 400;
    font-size: 16px;
    margin:  24px 0 24px;
    list-style-type: none;
    padding: 0;
    line-height: 27.33px;
}

.container-flex__left a {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    color: #000000;
    padding: 0 33.5px;
    background-color: #FBC832;
    border-radius: 58px;
}

.container-flex__left a:hover {
    background-color: #FFDF86;
    box-shadow: 0 2px 4px 0 rgba(204,204,204,1);
}

.container-flex__left a:active {
    background-color: #FFBB0C;
    box-shadow: none;
}

.container-flex__right p{
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    margin: 0 0 24px;
}

.container-flex__right span{
    font-weight: 400;
    font-size: 16px;
    line-height: 27.25px;
}

.container-flex__right ol {
    font-weight: 400;
    font-size: 16px;
    padding: 0 0 12px 16px;
    margin: 0;
    line-height: 27.25px;
}


                                        /* things */

.things__3 {
    position: relative;
    width: 306px;
    height: 126px;
    margin: 36px auto 0;
    background-color: #F6F6F6;
}

.things__3 img {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0 ;
    right: 0;
    margin: auto;
}

.things__3::before {
    content: '';
    position: absolute;
    width: 49vw;
    height: 1px;
    top: 63px;
    bottom: 0;
    right: 50%;
    background-color: #EEBF3A;
    z-index: -1;
}

.things__3::after {
    content: '';
    position: absolute;
    width: 49vw;
    height: 1px;
    top: 63px;
    bottom: 0;
    left: 50%;
    background-color: #EEBF3A;
    z-index: -1;
}

.things_container {
    width: 678px;
   /* height: 730px; */
   /* border: 1px solid black; */
    margin: 0 auto 72px;
    padding-left: 116px;
}

.things_container h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    margin: 40px 0 24px;
}

.things_container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27.33px;
    margin: 0;
}

.things_container span {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.color6F6C6C {
    color: #6F6C6C;
}

.things_container ul {
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27.33px;
    margin: 0;
}

.things_container a {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #AD7F00;
    text-decoration: underline;
}

.things_container a:hover {
    color: #523C00;
}

.things_container a:active {
    color: #F6B400;
}

                                        /* car */

.car__4 {
    position: relative;
    width: 306px;
    height: 126px;
    margin: 0 auto 40px;
    background-color: #F6F6F6;
}

.car__4 img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.car__4::before {
    content: '';
    position: absolute;
    width: 49vw;
    height: 1px;
    background-color: #EEBF3A;
    top: 63px;
    bottom: 0;
    left: auto;
    right: 50%;
    z-index: -1;
}

.car__4::after {
    content: '';
    position: absolute;
    width: 49vw;
    height: 1px;
    background-color: #EEBF3A;
    top: 63px;
    bottom: 0;
    right: auto;
    left: 50%;
    z-index: -1;
}

.car__container {
    width: 688px;
  /*height: 180px; */
    margin: 0 auto 72px;
    padding-left: 156px;
  /*border: 1px solid black; */
}

.car__container h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    margin: 0 0 24px 8px;
}

.car__container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 24px 8px;
}

.car__container button {
    width: 223px;
    line-height: 42px;
    font-weight: 500;
    font-size: 20px;
    background-color: #FBC832;
    border-radius: 58px;
    border: 0;
    margin-left: 8px;
}


.car__container button:hover {
    background-color: #FFDF86;
    box-shadow: 0 2px 4px 0 rgba(204,204,204,1);
}

.car__container button:active {
    background-color: #FFBB0C;
    box-shadow: none;
}

                                        /* volunteer */

.volunteer__5 {
    position: relative;
    width: 306px;
    height: 106px;
    margin: 0 auto;
    background-color: #F6F6F6;
}

.volunteer__5 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.volunteer__5::before {
    content: '';
    position: absolute;
    width: 49vw;
    height: 1px;
    background-color: #EEBF3A;
    top: 63px;
    bottom: 0;
    left: auto;
    right: 50%;
    z-index: -1;
}

.volunteer__5::after {
    content: '';
    position: absolute;
    width: 49vw;
    height: 1px;
    background-color: #EEBF3A;
    top: 63px;
    bottom: 0;
    right: auto;
    left: 50%;
    z-index: -1;
}

.volunteer__container {
    display: flex;
    justify-content: space-between;
    width: 1064px;
    margin: 0 0 50px;
  /*  border: 1px solid black;*/
}

.volunteer-cotainer__jpg {
    position: relative;
}

.cotainer-jpg__circle {
    border: 28px solid #FFC41E;
    border-radius: 50%;
}

.cotainer-jpg__circle img {
    display: block;
    border-radius: 50%;
    width: 464px;
    height: 464px;
}

.cotainer-jpg__circle::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    width: 49vw;
    background-color: #FFC41E;
    z-index: -1;
}

.volunteer-cotainer__text {
    width: 466px;
    display: inline-block;
}

.volunteer-cotainer__text h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    margin: 113px 0 24px;
}

.volunteer-cotainer__text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.75px;
}

.volunteer-cotainer__text p:nth-last-child(2) {
    margin: 16px 0 24px;
}

.volunteer-cotainer__text button {
    display: inline-block;
    width: 223px;
    height: 42px;
    background-color: #FBC832;
    border-radius: 58px;
    border: 0;
}

.volunteer-cotainer__text button:hover {
    background-color: #FFDF86;
    box-shadow: 0 2px 4px 0 rgba(204,204,204,1);
}

.volunteer-cotainer__text button:active {
    background-color: #FFBB0C;
    box-shadow: none;
}

                                        /* news */

.news__container {
    position: relative;
    width: 778px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 54px 0 54px 66px;
    /* height: 456px;*/
  /*  border: 1px solid rgb(230, 35, 35);*/
}

.news__container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    width: 49vw;
    background-color: #FFFFFF;
    z-index: -1;
}

.news__container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 49vw;
    background-color: #FFFFFF;
    z-index: -1;
}

.news h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    margin: 0 20px 0 0;
}

.news-container__flex {
    display: flex;
    height: 140px;
    justify-content: space-between;
    margin-top: 40px;
    /* border: 1px solid black;*/
}

.container-flex__text p {
    width: 603px;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
}

.flex-text__p1 {
    margin-top: 38px;
}

.news__container a {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #AD7F00;
    margin-top: 24px;
    text-decoration: underline;
}

.news__container a:hover {
    color: #523C00;
}

.news__container a:active {
    color: #F6B400;
}

                                        /* about-us */
                                    
.about-us {
    width: 680px;
    height: 484px;
    padding: 0 0 0 164px;
    margin: 56px auto 54px;
   /* border: 1px solid black;*/
}

.about-us h2 {
    font-weight: 600;
    font-size: 28px;
    margin: 0 119px 28px 0;
    line-height: 24px;
    text-align: center;
}

.about-us p:nth-child(2) {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: left;
}

.about-us p:nth-child(3) {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 0 0 24px;
    text-align: left;
}

.about-us li {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 10px;
    list-style-type: none;
}

.about-us ul {
    padding: 0;
}

.about-us p:nth-child(5) {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 40px 0 16px;
    text-align: left;
}

.about-us a {
    margin-right: 32px;
}

.about-us svg:hover {
    fill: #FFFFFF;
    filter: drop-shadow(0px 2px 4px rgba(204,204,204.1));
}

.about-us svg:active {
    fill: #F8ECCB;
    filter: none;
}

.footer__container {
    position: relative;
    max-width: 1146px;
    height: 741px;
    margin: 0 0 40px;
}

.footer-container__img {
    position: absolute;
    background: url(./images/footer-dog.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
    width: 99vw;
    height: 741px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.footer-container__circle {
    position: absolute;
    width: 521px;
    height: 521px;
    mix-blend-mode: soft-light;
    background-color: #322D1E;
    border-radius: 50%;
    opacity: 1;
    top: 119px;
    bottom: 0;
    left: -260.5px;
    right: 0;
    z-index: 1;
}

.footer-container__circle::before {
    position: absolute;
    content: '';
    background-color: #322D1E;
    height: auto;
    width: 49vw;
    top:0;
    bottom:0;
    left: auto;
    right: 50%;
}

.footer__container p {
    position: absolute;
    display: inline-block;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
    width: 346px;
    height: 154px;
    margin: 0;
    top: 303px;
    bottom: 0;
    left: -223px;
    right: 0;
    z-index: 2;
}

.footer-container__foot {
    position: absolute;
    background: url(./images/footer-foot.svg) no-repeat;
    width: 89px;
    height: 89px;
    top: 373px;
    bottom: 0;
    right: 0;
    left: 123px;
    z-index: 2;
}

.footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 24px;

}

.footer-nav__left {
    display: flex;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    text-decoration: underline;
}

.footer-nav__right {
    display: flex;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    text-decoration: underline;
}

.footer-nav__left li {
    margin-right: 40px;
    list-style-type: none;
}

.footer-nav__right li {
    margin-left: 40px;
    list-style-type: none;
}

.footer-nav__left a {
    color: #474747;
}

.footer-nav__right a {
    color: #474747;
}

.footer-nav__left a:hover {
    color: #AD7F00;
}

.footer-nav__right a:hover {
    color: #AD7F00;
}

.footer-nav__left a:active {
    color: #474747;
}

.footer-nav__right a:active {
    color: #474747;
}
footer p {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin: 0 0 16px;
}